<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stevedunstan.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SearchSpotifyActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" > <!-- Make this singleTop so up nav retains state -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SongListActivity"
            android:label="@string/title_activity_artist_albums_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.SearchSpotifyActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SearchSpotifyActivity" />
        </activity>
        <activity
            android:name=".activity.NowPlayingActivity"
            android:label="@string/title_activity_now_playing"
            android:parentActivityName=".activity.SongListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SongListActivity" />
        </activity>

        <service android:name=".service.MusicPlayerService"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cb87183c130bcff08a9435127a6134760e72a04b" />
    </application>

</manifest>
